<h2 class="text-center" style="margin-top: 150px; letter-spacing: 3px; font-weight: lighter;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> About us <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>

<div class="wraper" style="background-color: #e8ecf0; padding-top: 70px; padding-bottom: 70px; margin-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="mates">
        <div class="mates-name">
          <%= image_tag('leader.png', size: "60x60") %>
          <h4>Nicole SICARD - Founding Director</h4>
        </div>
      <h5>Nicole has been living in HK for over 50 years. She taught biology and Integrated Science in

English and Cantonese for 32 years in 3 local secondary schools. <br>

During that time she was a founder and advisor of the “The Shek Pai Wan evening school”, a

community project for illiterate factory workers. It ran for 22 years, and only ceased when

education became compulsory in Hong Kong. <br>

Although she retired in 1998, she is still helping students in her local community who have

learning difficulties or need an extra boost by giving them private tutoring. The grateful

parents give what they can. <br>

Since 1997 she is also involved in helping street and working children in slum areas of

Kathmandu; This started with an organisation called CONCERN, which evolved in 2011 into

Mayaa Nepal.  This association helps children through school by supplying uniforms, school

books and stationary as well as a daily hot meal. A dedicated team of social workers follow

the children and their families. <br>

In order to build on this success, achieve a new level of fundraising and extend this good work to

children in need in Hong Kong, Nicole set up Mayaa Hong Kong in 2015, now a government

registered charity.</h5>
      </div>
      <div class="mates">
      <div class="mates-name">
      <%= image_tag('ian.png', size: "60x60") %>
      <h4>Ian BRODIE</h4>
      </div>
      <h5>Ian is an IT consultant in Hong Kong specialising in the needs of small businesses both in

Hong Kong and throughout Asia. He also has a secondary activity as a photographer, from

an art perspective but also commissioning work for industrial and commercial sites. With a

long history of being involved in associative work, Ian is a committee member of the Hong

Kong French association (UFE), is involved in the local youth rugby club as well as being

implicated in the activities of the local French Church.

Concerned about the growing inequalities in the world, and wishing to do more to help his

fellow man, but also believing that the best way to help someone is to give them the tools

to help themselves, he became actively involved in the running of Mayaa Hong Kong.</h5>
      </div>
      <div class="mates">
      <div class="mates-name">
      <%= image_tag('anne.png', size: "60x60") %>
      <h4>Anne Christine MARTIN</h4>
      </div>
      <h5>Anne-Christine is a former CFO in a French Private Equity Fund based in Paris. She is a

mother of three, and has been living in HK for 9 years, where she has founded her own

company dedicated to welcoming and helping French speaking people (or French

companies) relocating to HK, or staying in HK for short trips. She is now a HK permanent

resident, and a local tour guide for the T.I.C. After she met Nicole in 2014, she decided to

help Mayaa Nepal, and started organising charity camps that allow HK students to visit

Nepal and bring help to local children (raising money for stationary, and distributing it to

local children). Witnessing the desperate situation of the Nepalese school children, she

became aware of the situation of pupils in other countries, and particularly in Hong

Kong. This lead her to work with Nicole in the creation  of Mayaa Hong Kong in order to

enlarge the action of the Charity to benefit children in Hong Kong as well as Nepal.</h5>
      </div>
      <div class="mates">
      <div class="mates-name">
      <h4>Marion Sander - treasurer</h4>
      </div>
      <h5>Marion Sander has always worked in Finance in a whole range of varied and different

industries (painting equipments, pharmaceutical, water pipelines, consumer goods and now

natural moskito repellent products) and in many different countries (France, Germany,

Australia, Singapore and Hong Kong). She loves discovering new cultures and lending her

skills to help whenever she can. Mayaa Hong Kong is a great project and she&#39;s truly happy to

be able to support its development in HK and Nepal.</h5>
      </div>
      <div class="mates">
      <div class="mates-name">
      <h4>Clémence fabre - member</h4>
      </div>
      <h5>After completing a marketing and finance master’s degree in Paris, Clémence was to finish

her studies with a final internship at L’Oréal as a project manager for Yves Saint Laurent:

cosmetics… interesting? Yes for the marketing, but if it was in the wine business, it would be

much more fun! After a 5 years’ experience in the wine businesses of Vietnam and China,

she turns her attention to developing her family’s wine exportations throughout Asia. Eager

to travel, passionate about wine, she combines both pleasures. She is very pleased to

spread Corbières wines around the globe. Also made aware during her travels of the

humanitarian crisis amongst the poorest and especially the children, she joins Mayaa Hong

Kong in 2017.</h5>
      </div>
    </div>
  </div>
</div>



  <div class="wraper" style="background-color: #e8ecf0; padding-top: 70px; padding-bottom: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa1.gif') %>');">
            </div>
            <a href="/aims" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">The aims of the <br> charity Mayaa HK</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa2.gif') %>');">
            </div>
            <a href="/raise" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> raise funds?</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa3.gif') %>');">
            </div>
            <a href="/communication" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> communicate?</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wraper" style="background-color: white">
<div class="container" style="padding-top: 70px; padding-bottom: 70px;">
  <h2 class="text-center"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> Donate and help <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="donate text-center">
        <h4>Sponsor a child for education</h4>
        <h5>Develop individual patronage:</h5>
        <h5>to provide 1 child with basic education cost HK$ 800(100 euros) to HK$1800 (220 euros) per year, which includes books, stationery, school uniform.</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="donate1 text-center">
        <h4>Mayaa Hong Kong / Bank Account</h4>
        <h5>Bank account | HSBC 848 8724 38 838</h5>
        <h5>Do you want to give a little bit of time? <br> Contact us: give@mayaahk.com</h5>
      </div>
    </div>
  </div>
</div>
</div>
