<h2 class="text-center" style="margin-top: 150px; letter-spacing: 3px; font-weight: lighter;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> About us <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>

<div class="wraper" style="background-color: #e8ecf0; padding-top: 70px; padding-bottom: 70px; margin-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="mates">
        <div class="mates-name">
          <%= image_tag('leader.png', size: "60x60") %>
          <h4>Nicole SICARD</h4>
        </div>
      <h5>Nicole is now 82 years old. She has been living in HK for 52 years. She has been teaching Biology and Integrated Science in English and Cantonese during 32 years in 3 local secondary schools. She also worked for 22 years as the advisor of a Community Project which developed amongst other projects the “The Shek Pai Wan evening school” for illiterate factory workers. Although she retired in 1998, she is still helping students who have learning problems and whose parents cannot afford private tutoring. Since 1997 she is also involved in helping street and working children, in slum areas of Kathmandu, access full time education; this is now running as a local charity called “Mayaa Nepal” with the help of 3 devoted and experience Nepalese social workers. Continuing this success Nicole is looking to set up the same organisation for needy pupils in Hong Kong. Like in Nepal, education is free in Hong Kong, but some families have financial difficulties feeding their children correctly, let alone purchasing school books school uniforms and stationary. The aim of Mayaa Hong Kong would be to provide these children with the equipment needed for them to reach their own full potential education wise.</h5>
      </div>
      <div class="mates">
      <div class="mates-name">
      <%= image_tag('ian.png', size: "60x60") %>
      <h4>Ian BRODIE</h4>
      </div>
      <h5>With a PhD background in science, Ian is an IT consultant in Hong Kong specialising in the needs of small businesses both in Hong Kong and throughout Asia. He also has a secondary activity as a photographer, from an art perspective but also commissioning work for industrial and commercial sites. With a long history of being involved in associative work, Ian has been a committee member of the Hong Kong French association (UFE), a current committee member for the local youth rugby club as well as being implicated in the activities of the local French Church. Concerned about the growing inequalities in the world, and wishing to do more to help his fellow man, but also believing that the best way to help someone is to give them the tools to help themselves, he became actively involved in the running of Mayaa Hong Kong.</h5>
      </div>
      <div class="mates">
      <div class="mates-name">
      <%= image_tag('anne.png', size: "60x60") %>
      <h4>Anne Christine MARTIN</h4>
      </div>
      <h5>Anne is a former CFO in a French Private Equity Fund based in Paris. She is a mother of three, and has been living in HK for 9 years, where she has founded her own company dedicated in welcoming and helping French speaking people (or French companies) relocating to HK, or staying in HK for short trips. She is now a HK permanent resident, and a local tour guide for the T.I.C. After she met Nicole in 2014, she decided to join Mayaa, and started to organise charity camps twice a year, that allow HK students to volunteer for Mayaa Nepal. Witnessing the desperate situation of the Nepalese school children, she became aware of the situation of pupils in other countries, and particularly in Hong Kong. This lead her to initiate the creation of MAYAA HK Ltd, in order to raise funds in Hong Kong, and enlarge the action of the Charity to benefit children in Hong Kong as well as Nepal.</h5>
      </div>
    </div>
  </div>
</div>

  <div class="wraper" style="background-color: #e8ecf0; padding-top: 70px; padding-bottom: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa1.gif') %>');">
            </div>
            <a href="/aims" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">The aims of the <br> charity Mayaa HK</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa2.gif') %>');">
            </div>
            <a href="/raise" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> raise funds?</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa3.gif') %>');">
            </div>
            <a href="/communication" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> communicate?</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wraper" style="background-color: white">
<div class="container" style="padding-top: 70px; padding-bottom: 70px;">
  <h2 class="text-center"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> Donate and help <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="donate text-center">
        <h4>Sponsor a child for education</h4>
        <h5>Develop individual patronage:</h5>
        <h5>to provide 1 child with basic education cost HK$ 800(100 euros) to HK$1800 (220 euros) per year, which includes books, stationery, school uniform.</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="donate1 text-center">
        <h4>Mayaa Hong Kong / Bank Account</h4>
        <h5>Bank account | HSBC 848 8724 38 838</h5>
        <h5>Do you want to give a little bit of time? <br> Contact us: give@mayaahk.com</h5>
      </div>
    </div>
  </div>
</div>
</div>
